@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f6f6;
}

/* Custom Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b8c8e1;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #809ac4;
}


input:focus-visible{
  border-style:none  !important; 
  
}
input{
  border-style:none !important; 
}
input:focus{
  border-style:none !important; 
  box-shadow: none !important;
}